<% errors.forEach(function(message) { %>
    <div class="alert alert-danger0 text-center"><div class="circle1-danger"></div><div class="circle2-danger"></div>
    <%= message %>
    </div>
<% }) %>

<% success.forEach(function(message) { %>
    <div class="alert alert-success0 text-center"><div class="circle1-success"></div><div class="circle2-success"></div>
    <%= message %>
    </div>
<% }) %>



