<% errors.forEach(function(message) { %>
    <div class="alert alert-danger1 text-center"><%= message %></div>
<% }) %>

<% success.forEach(function(message) { %>
    <div class="alert alert-success1 text-center"><%= message %></div>
<% }) %>



